<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.vistony.wms">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any"  android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"  android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.vistony.wms.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.vistony.wms.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/logo_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wms">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Wms"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.vistony.wms.model.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.DWReceiver"
            android:enabled="true"
            android:exported="true"/>

        <meta-data android:name="io.sentry.dsn" android:value="https://6c2f4b7344c940dfba86b06067770610@o663251.ingest.sentry.io/6417191" />

        <!--<service
            android:name=".util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".util.RealmNotificationService"/>
        -->
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="false">
            <!-- Otros atributos de la actividad -->
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="false">
            <!-- Otros atributos de la actividad -->
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="false">
            <!-- Otros atributos de la actividad -->
        </activity>

    </application>
    <queries>
        <package android:name="com.google.ar.core" />
    </queries>


</manifest>